@charset "utf-8";
/* CSS Document */

body{
	padding:0 0 120px 0;
	margin:0;
}

.clearfix{
	clear:both;
}



@media(max-width:700px){
.backgroundImage{
	 background-size: cover !important; 
	 width:100% !important;
}
.video1{
	width:90% !important;
}








}





