@charset "utf-8";
/* CSS Document */

body{
	padding:0 0 120px 0;
         }

.clearfix{
	clear:both;
}



@media(max-width:700px){
.Image{
	width:90% !important;
	height: 90%;
}
.button1{
	width:50%;
}







}





